

/* .personalFeed-container {
  background-color: var(--bg);
} */

.leftSideBar {
  min-width: 14%;
  max-width: 14%;
  min-height: 700px;
  max-height: 100vmax;
  color: #3dff54;
  border-style: outset;
  position: relative;
  float: left;
  margin-left: 0.2%;
  background-color: var(--bg);
  align-self: center;
}
 
 .feed-container {
  position: relative;
  /* background-color: var(--bg); */
  margin-top: 5%;
  
}




.feedSideBar-container {
  z-index: 2;
  position: absolute;
  text-align: center;
}

 


/* .personalFeed-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--bg);
  margin-top: 5%;
  
} */






/* .table {
  width: 70%;
  border-collapse: collapse;
  column-width: 15%, 65%, 15%, 2%, 1%, 2%;
  float: right;
  position: relative;
} */

/* .tableGreen {
  border-radius: 15px;
  background: #ffffff;
  border: 4px solid #3dff54;
  padding: 5px; 
  margin-bottom: 10px;
  width: 90%;
  height: auto;
  color: rgb(0, 0, 0); 
  margin-left: 5px;
} */

.tableRed {
  position: relative;
  border-radius: 15px;
  background: #ffffff;
  border: 4px solid #9b1212;
  padding: 5px;
  margin-bottom: 2%;
  width: 68%;
  height: auto;
  color: rgb(0, 0, 0);
  float: left;
  margin-left: 16%;
  margin-top: 0.2%;
  
}

.rightSideBar {
  min-width: 14%;
  max-width: 14%;
  min-height: 700px;
  max-height: 100%;
  color: #3dff54;
  border-style: outset;
  margin-right: 0.2%;
  margin-left: 85.8%;
  
  
  
}


.tableRed1 {
  border-radius: 60px;
  background: #feffff;
  
  border-style: inherit;
  padding: 10px;
  margin-bottom: 10px;
  width: 12%;
  height: auto;
  color: rgb(0, 0, 0);
  margin-top: 5%;
  margin-left: 2%;
  align-self: center;
  
  
 
  
  
  
}

/* .row1 {
  text-align: left;
  border-radius: 15px;
  background: #ffffff;
  border-color: #000000;
  padding: 5px;
} */

#thumbs-up {
  background: url(../images/thumbs-up20.png) center no-repeat;
  height: 30px;
  width: 30px;
  border: #ffffff;
}

#thumbs-down {
  background: url(../images/thumbs-down20.png) center no-repeat;
  height:    30px;
  width: 30px;
  border: #ffffff;
}

#colUser {
  width: 15%;
  padding-right: 1%;
}

#colSubject {
  width: 64%;
  font-weight: bold;
}

#colTopic {
  width: 15%;
}

#colThumbsUP {
  width: 2%;
}

#colLikes {
  width: 2%;
}

#colThumbsDown {
  width: 2%;
}

#rowSubject {
  font-weight: bold;
  text-align: center;
  font-size: 12pt;
}

#rowTopic {
  text-align: center;
  font-size: 10pt;
}

#rowUser {
  font-style: italic;
  text-align: right;
  font-size: 8pt;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

.home,
.reports,
.products,
.team,
.reports {
display: flex;
height: 90vh;
align-items: center;
justify-content: center;
font-size: 3rem;
}