.guest-navbar{
    position: fixed;
    width: 100%;
    top: 0;
    transition: 10ms ease-in-out;
    z-index: 999;
    background-color: var(--bg);
  }
  
  .guest-navbar img {
    width: 170px;
    cursor: pointer;
    margin-left: -20px;
  }
  
  .guest-navbar .loginBtn {
    background-color: transparent;
    color: white;
    padding: 8px 15px;
    border: 0;
    cursor: pointer;
    transition: 50ms ease-in-out;
  }
  
  .guest-navbar .loginBtn:hover {
    color: rgb(217, 217, 217);
  }
  
  .guest-navbar .registerBtn:hover {
    background-color: rgb(217, 217, 217);
  }
  
  .guest-navbar .registerBtn {
    background-color: white;
    color: var(--bg);
    padding: 8px 15px;
    border-radius: 5px;
    border: 0;
    transition: 100ms ease-in-out;
    cursor: pointer;
    margin-right: 20px;
}
  
  .guest-navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  @media (max-width: 440px) {
     .navbar-container img {
      width: 120px;
    }
  }